<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @answering_machine.url %>
</p>

<%= link_to 'Edit', edit_answering_machine_path(@answering_machine) %> |
<%= link_to 'Back', root_path %>
