<div class="header">
  <h1>Simulator</h1>
  <p><b>Current Connection State: </b>NONE</p>
</div>
<div class="ui-container">
  <div class="phone-container">
    <h4>External Phone</h4>
    <button type="button" class="btn btn-default">Start Call</button>
    <button type="button" class="btn btn-default">Send Digit</button>
    <button type="button" class="btn btn-default">Record Voicemail</button>
  </div>
  <div class="system-container">
    <h4>Telephony Interface</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Log</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sample logging that will be replaced</td>
          <td>09/23/15 9:07 PM</td>
        </tr>
        <tr>
          <td>Sample logging that will be replaced</td>
          <td>09/23/15 9:07 PM</td>
        </tr>
        <tr>
          <td>Sample logging that will be replaced</td>
          <td>09/23/15 9:07 PM</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="answering-machine-container">
    <h4>Answering Machine</h4>
    <button type="button" class="btn btn-default">Listen to Voicemails</button>
  </div>
</div>
