// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  text-align: center;
  margin-bottom: 50px;
}

.ui-container {
  display: flex;
  align-items: stretch;
  justify-content: center;

  .phone-container {
    flex-basis: 100%;
    border-right: thick solid ghostwhite;
    text-align: center;
    padding: 20px;

    table {
      margin: auto;
      margin-bottom: 20px;
    }
  }

  .system-container {
    flex-basis: 100%;
    border-right: thick solid ghostwhite;
    padding: 20px;

    h4 {
      text-align: center;
    }
  }

  .answering-machine-container {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
  }
}
